#aportes{
 
    font-display: swap;
    padding: 2rem;
    border-radius: 8px;
    border: solid 1px var(--muted);
    width: 100%;
  
}
.subtitulo{
     display: inline-block;
    font-family: "Syne", sans-serif;
    font-size:2rem;
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
    color: var(--accent);

}